{% extends "base2.html" %}
{% block content %}
		<section id="bottom">
			<div class="container">
				<div id="information" class="pull-left">
					<h1>About IPAPI</h1>
<p>IPAPI is the dopest </p>
				</div>
				<div id="sign-up-form" class="hero-unit pull-right">
					<form id="sign-up" method="post">
						<fieldset>
							<legend>Sign Up</legend>
							<input type="text" name="email" placeholder="Email" /><br />
							<input type="password" name="password1" placeholder="Password" /><br />
							<input type="password" name="password2" placeholder="Password" /><br />
							<input type="submit" value="Sign Up" class="btn btn-large btn-disabled" />
					</form>
				</div>
			</div>
		</section>
{% endblock %}
