{% extends "base2.html" %}
{% block content %}
		<section id="bottom">
		<div id= "main-content">
		<div class="container">
			<h1> Redfin Company Queries</h1>
			</h1>
			<ul class="thumbnails">
				 <li class="span4">
				    <div class="thumbnail">
				      <h3>Aaron Jeffery</h3>
				      <h4>Status: Failed </h4>
				      <h4> <a href="/api/person/id=12345"> View Profile </a> </h4> 
				    </div>
				 </li>
				 <li class="span4">
				    <div class="thumbnail">
				      <h3>Michael Zhao</h3>
				      <h4>Status: Passed</h4>
				      <h4> <a href="/api/person/id=12345"> View Profile </a> </h4> 
				    </div>
				 </li>
				 <li class="span4 after">
				    <div class="thumbnail">
				      <h3>Jon Jia</h3>
				      <h4>Status: Passed</h4>
				      <h4> <a href="/api/person/id=12345"> View Profile </a> </h4> 
				    </div>
				 </li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}