{% extends "base2.html" %}
{% block content %}
		<div id= "main-content">
		<div class="container">
			<h1> Redfin Company Queries</h1>
			</h1>
			<ul class="thumbnails">
				{% for profile in profiles %}
				 <li class="span4">
				    <div class="thumbnail" style="border-width:5px; ">
				      <h3 style="font-size:20px">{{profile.0}} {{profile.1}}</h3>
				      <h4>Status: {{profile.2}} </h4>
				      <h4> <a href={{profile.3}}> View Profile </a> </h4> 
				    </div>
				 </li>
				 {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}