{% extends "base2.html" %}
{% block content %}
		<section id="bottom">
			<div class="container">
				<div id="information" class="pull-left">
					<h1>Contact us!</h1>
					<p>
            <form method="post" id="signup_form" autocomplete="off">
              <p><textarea style="width:600px;" rows="10" cols="40" name="rawdata"></textarea></p>
              <input type="submit" value="submit">
            </form>
					</p>
				</div>
				<div id="sign-up-form" class="hero-unit pull-right">
					<form id="sign-up" method="post">
{% csrf_token %}
					<form id="sign-up" method="post">
						<fieldset>
							<legend>Sign Up</legend>
							<input type="text" name="email" placeholder="Email" /><br />
							<input type="password" name="password1" placeholder="Password" /><br />
							<input type="password" name="password2" placeholder="Password" /><br />
							<input type="submit" value="Sign Up" class="btn btn-large btn-disabled" />
					</form>
				</div>
			</div>
		</section>
{% endblock %}
