<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Facebook sharing information tags -->
    <meta property="og:title">
    <title>Background check complete!</title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin:0;padding:0;background-color:#fff;min-height:100%!important;width:100%!important">
        <tbody><tr>
            <td align="center" valign="top" style="border-collapse:collapse">              
              <table border="0" cellpadding="10" cellspacing="0" width="600" style="#8FBC8F;">
                <tbody><tr>
                    <td valign="top" style="border-collapse:collapse">
                      
                      <table border="0" cellpadding="10" cellspacing="0" width="100%">
                        <tbody><tr>
                            <td valign="top" style="border-collapse:collapse">
                              <div style="color:#111;font-family:Lato, sans-serif;font-size:10px;line-height:100%;text-align:left">Background check complete!<br>
			      </div>
                            </td>
                          </tr>
                      </tbody></table>
                      
                    </td>
                  </tr>
              </tbody></table>
              
              <table border="0" cellpadding="0" cellspacing="0" width="600" style="border:1px solid #dddddd;background-color:#ffffff">
                <tbody><tr>
                    <td align="center" valign="top" style="border-collapse:collapse">
                      
                      <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#8FBC8F;border-bottom:0">
                        <tbody><tr>
                            <td style="border-collapse:collapse;color:#202020;font-family:Lato, sans-serif;font-size:34px;font-weight:bold;line-height:100%;padding:0;text-align:center;vertical-align:middle">
                              <div style="text-align:left"><a href="http://idapi.co" style="color:#336699;text-decoration:underline;font-weight:normal" target="_blank"><img src="http://idapi.co/static/images/logo.png" alt="Idapi" border="0" style="margin:0;padding:0;border:0;line-height:100%;outline:none;text-decoration:none" width="350" height="90"></a></div>
                            </td>
                          </tr>
                      </tbody></table>                      
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top" style="border-collapse:collapse">
                      <table border="0" cellpadding="0" cellspacing="0" width="600">
                        <tbody><tr>                            
                            <td valign="top" width="200" style="border-collapse:collapse;background-color:#ffffff;border-right:0">
                              <table border="0" cellpadding="0" cellspacing="0" width="200">
                                <tbody><tr>
                                    <td valign="top" style="border-collapse:collapse">                                      
                                      <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td valign="top" style="border-collapse:collapse">
                                              <div style="color:#505050;font-family:Lato, sans-serif;font-size:12px;line-height:150%;text-align:left"><h4 style="color:#202020;display:block;font-family:Lato, sans-serif;font-size:22px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left">Contact us</h4>If you would like to get in contact, or have something to say, just hit reply!<br>
					      </div>
                                            </td>
                                          </tr>
                                      </tbody></table>
                                    </td>
                                  </tr>
                              </tbody></table>
                            </td>
                            
                            <td valign="top" style="border-collapse:collapse">
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tbody><tr>
                                    <td valign="top" style="border-collapse:collapse;background-color:#ffffff">                                      
                                      <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td valign="top" style="border-collapse:collapse">
			                      <div style="color:#4e443c;font-family:Lato, sans-serif;font-size:14px;line-height:150%;text-align:left"><h1 style="color:#202020;display:block;font-family:Lato, sans-serif;font-size:22px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:-5px;text-align:left">Background check complete for {{name}}!</h1>
<div><p>Your background check is complete!</p>
<p>The candidate: <strong>failed</p>
<p><a href="idapi.co/api/person/id=12345">Background check information</a></p>
<br>  Sincerely,<br>
    <br>
      The IDAPI Team<br>
	<br>
</div>
					      </div>    
                                            </td>
                                          </tr>
                                      </tbody></table>
                                      
                                    </td>
                                  </tr>
                              </tbody></table>
                            </td>
                          </tr>
                      </tbody></table>
                      
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top" style="border-collapse:collapse">
                      
                      <table border="0" cellpadding="10" cellspacing="0" width="600" style="background-color:#ffffff;border-top:0">
                        <tbody><tr>
                            <td valign="top" style="border-collapse:collapse">
                            </td>
                          </tr>
                      </tbody></table>
                      
                    </td>
                  </tr>
              </tbody></table>
              <br>
            </td>
          </tr>
      </tbody></table>
    </center>
  </body>
</html>
