{% extends "base2.html" %}
{% block topimage %}
<div>
</div>
{% endblock %}
{% block content %}
<section id="bottom">
			<div class="container">
				<div id="information" class="pull-left">
					<h1>Background Checking Simplified</h1>
<p>UI2 is a developer friendly API allowing businesses to verify that their customers are not criminals or sex offenders.</p>
<p>UI2's proprietary technologically is cheaper than conventional APIs and easy to integrate into any solution.
</p>
				</div>
				<div id="sign-up-form" class="hero-unit pull-right">
					<form id="sign-up" method="post">
						<fieldset>
							<legend>Sign Up</legend>
							<input type="text" name="email" placeholder="Email" /><br />
							<input type="password" name="password1" placeholder="Password" /><br />
							<input type="password" name="password2" placeholder="Password" /><br />
							<input type="submit" value="Sign Up" class="btn btn-large btn-disabled" />
					</form>
				</div>
			</div>
		</section>
{% endblock %}

