{% extends "base2.html" %}
{% block content %}

			{% if sexoffender %}
			<h1 style="text-align:center">Status: Failed</h1>
			<img src="/static/images/reddot.png" style="height:80px; width:80px;  display: block; margin-left: auto; margin-right: auto;"> </img> 
			<br>
			<div class="span4">
				    <div class="thumbnail" style="margin-left:20%">
				      <img src="http://www.co.umatilla.or.us/corrections/img/Anderson-K.jpg" style="width:250px; height:250px; border:1px solid silver">
				    </div>
			</div>
			<div class="hero-unit pull-right">
				<h3> Name: Aaron Jeffery</h3>
				<h3> Address: 83 OSCAR TALLY RD, ANDERSON, MO 64831</h3> 
				<h3> Crime: SEXUAL ABUSE IN THE SECOND </h3>
			</div>
			{% else %}
			<h1 style="text-align:center">Status: Cleared</h1>
			<img src="/static/images/greendot.png" style="height:80px; width:80px; display: block; margin-left: auto; margin-right: auto;"> </img> 
			{% endif %}
			
{% endblock %}
