{% extends "base2.html" %}
{% block content %}
		<section id="bottom">
			<div class="container">
				<div id="information" class="pull-left">
					<h1>Sign in to UI2</h1>
					<p>
            Sign in to use UI2's web portal and track your bar demographics!
					</p>
				</div>
				<div id="sign-up-form" class="hero-unit pull-right">
					<form id="sign-up" method="post">
{% csrf_token %}
						<fieldset>
							<legend>Sign In</legend>
							<input type="text" name="username" placeholder="Email" /><br />
							<input type="password" name="password" placeholder="Password" /><br />							
							<input type="submit" value="Sign In" class="btn btn-large btn-disabled" />
					</form>
				</div>
			</div>
		</section>
{% endblock %}

