{% extends "base.html" %}
{% block pagetitle %}Password reset{% endblock %}
{% block meta_description %}
<meta name="description" content="Password reset at AudioNotch.com: Tailor-Made Notched Sound Therapy for the treatment of Tinnitus.">
{% endblock %}
{% load i18n %}
{% block javascript %}
<script src="{{STATIC_URL}}js/InFieldLabels/src/jquery.infieldlabel.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
function formfocus() {
document.getElementById('id_email').focus();
}
window.onload = formfocus;
  $(function(){ $("label").inFieldLabels(); });
</script>
{% endblock %}
{% block forms %}
<div class="form-wrap center form-width">
  <form method="post" action=".">{% csrf_token %}
    <h3>Reset your password</h3>
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Submit' %}" class="primary button"/>
  </form>
</div>
{% endblock %}
{% block social %}{% endblock %}
