<form action="." method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.name != "username" %}
          {{ field }}
          {{ field.errors }}
  
      <!-- <div class="field-wrapper"> -->
      <!--   <div class="label-wrapper"> -->
      <!--     {{ field.label_tag }} -->
      <!--     {% if field.field.required %}<span class="required">*</span>{% endif %} -->
      <!--   </div> -->
      <!--   <div class="value-wrapper"> -->
      <!--     {{ field }} -->
      <!--     {{ field.errors }} -->
      <!--   </div> -->
      <!-- </div> -->
    {% endif %}
  {% endfor %}
  <div class="submit-wrapper">
    <input type="submit" value="Sign Up"/>
  </div>
  <input value="" name="tz" type="hidden" id="tz">
</form>
